.AddNote {
  --note-height: 88px;
  background-color: #010d1e;
  color: #cacaca;
  height: var(--note-height);
  margin-bottom: 8px;
  max-width: 380px;
  padding: 8px 0 8px 8px;
  position: relative;
}

.Note__form {
  display: flex;
  flex-direction: column;
}

.form_input {
  flex-direction: row;
  padding-bottom: 10px;
}

#noteContent {
  min-width: 370px;
  min-height: 100px;
}

.alert-shown {
  opacity: 1;
  transition: all 250ms linear;
}

.alert-hidden {
  opacity: 0;
  transition: all 250ms linear;
}